<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron text-center" </div>
        <h1 class="display-3"><b>Mission to Mars</b></h1>



        <p><a class="btn btn-success btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="container">
        <h1 class="display-4"><b>Latest Mars News</b></h1>
        <h5 style="color: #dc2814">{{mars_data.news_title}}</h5>
        <p style="color: #cf4f0a">{{mars_data.news_p}}</p>
    </div>

</body>