<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron text-center" </div>
        <h1 class="display-3"><b>Mission to Mars</b></h1>



        <p><a class="btn btn-success btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="container">
        <div class="row" id="mars-news">
            <div class="col-lg-12"
            <div class="media">
                <div class="media-body">
                    <h4>Latest Mars News</h4>
                    <h5 style="color: #dc2814">{{mars_data.news_title}}</h5>
                    <p style="color: #cf4f0a">{{mars_data.news_paragraph}}</p>
                </div>
                <div class="container">
                    <div class="row" id="featured_img">
                        <div class="col-lg-8">
                            <h4>Featured Mars Image</h4>
                            <img src="{{mars_data.featured_image}}" class="img-responsive"
                                style="max-width:100%; max-height: auto;" alt="Mars Featured Image" />
                                <div class="col-lg-4">
                                    <h5>Mars Facts</h5>
                                    <p>{{mars_data.fact_table}}</p>
                                </div>
                        </div>
                    </div>
                </div>

</body>